:root {
    --black:#000000;
    --main-color:#3182f6;
    --sub-color:#1c6fd9;
    --background-color:#f7f8fa;
    --main-font-size : 30px;
    --sub-font-size: 18px;
    --main-font-color:#1a1a1a;
    --middle-font-color: #666; 
    --light-font-color:#afb4b7;
  }


/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'pretendard', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1368px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

p {
  margin: 0;
}

@media (max-width : 1280px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}